<!DOCTYPE html>
<html>
<head>
  <title>Rails/AngularJS Hello World</title>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap.min.css" rel="stylesheet"/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="App">
  <div class="container">
  <%= yield %>
  </div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
